parameters:
        level: 8
        reportUnmatchedIgnoredErrors: false
        checkGenericClassInNonGenericObjectType: false
        checkMissingIterableValueType: false
        paths:
            - tests
        excludePaths:
        		- tests/src/Traits/Support/Time/Tardis.php
        ignoreErrors:
        		- '#Unsafe usage of new static\(\)#'
        		- '#^Parameter \#2 \$length of method Drupal\\Core\\Entity\\Query\\QueryInterface\:\:range\(\) expects null, int given\.$#'
        		- '#^Call to an undefined method Drupal\\Core\\DependencyInjection\\ContainerBuilder\:\:generateServiceIdHash\(\)$#'
includes:
    - vendor/mglaman/phpstan-drupal/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
