parameters:
        level: 8
        reportUnmatchedIgnoredErrors: false
        paths:
            - tests/modules
            - tests/src/Traits
        excludePaths:
            analyse:
                -  tests/src/Traits/Support/Decorators
        checkMissingIterableValueType: false
        ignoreErrors:
            - messages:
                - '#Unsafe usage of new static\(\)#'
                - '#^Parameter \#2 \$length of method Drupal\\Core\\Entity\\Query\\QueryInterface\:\:range\(\) expects null, int given\.$#'
includes:
    - vendor/mglaman/phpstan-drupal/extension.neon
